body {
    margin: 0px;
    background-image: url("img1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.under {
    text-align: center;
}

.canvasContainer {
    text-align: center;
}

#canvas {
    margin-top: 0px;
    padding-top: 0px;
    height: 500px;
    width: 500px;
    display: inline-block;
    box-shadow: 10px 10px 5px grey;
    background-color: antiquewhite;
}

.smallDiv {
    width: 10px;
    height: 10px;
    position: absolute;
}